* {
    max-width: 100%;
    background-color: #F7F4E9;
}

body {
    padding: 30px;
    max-width: 100%;
}

@font-face {
    font-family: 'Moglan';
    src: url('/artworld/fonts/Moglan_DEMO.woff2') format('woff2'), /* Modern Browsers */
         url('/artworld/fonts/Moglan_DEMO.woff') format('woff'); /* Legacy Browsers */
    /* Optionally, you can specify font-weight and font-style here */
    font-weight: 900;
    font-style: normal;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #000000;
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    margin-bottom: 20px; /* Reduced margin-bottom */
}

.menu a {
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}

.menu a:last-child {
    margin-right: 0;
}

h1 {
    text-align: center;
    color: #F5221B;
    font-size: 10vw; /* Responsive font size */
    font-family: "Moglan", sans-serif;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.menu_icon {
    max-width: 20%; /* Adjusted icon size */
}

hr {
    background-color: #F5221B;
    height: 2px;
    width: 100%; /* Adjusted HR width */
    max-width: 1640px; /* Added max-width to prevent overflowing */
    margin: 20px auto; /* Centered and reduced margin */
}

.flowers {
    width: 100%;
    max-width: 1640px; /* Added max-width to prevent overflowing */
    margin: 0 auto; /* Centered */
    margin-top: 20px; /* Adjusted margin-top */
}

.container1, .container2 {
    margin-top: 20px; /* Reduced margin-top */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.left-column1, .right-column1, .left-column2, .right-column2 {
    flex: 1;
}

.right-column1 {
    padding-left: 20px;
    display: flex;
    flex-direction: column; /* Changed flex-direction to column */


}

.right-column2 {
    padding-left: 20px;
    display: flex;
    flex-direction: column; /* Changed flex-direction to column */

}

.content {
    margin-bottom: 20px;
}

h2 {
    color: #000000;
    font-family: 'Moglan', sans-serif;
    font-weight: 1000;
    font-size: 5vw; /* Responsive font size */
    width: 100%; /* Set the width to 100% */
    max-width: 70%; /* Adjusted max-width */

}

p {
    margin-top: 20px; /* Adjusted margin-top */
    color: #000000;
    font-size: 2vw; /* Responsive font size */
    font-family: "Century Gothic", sans-serif;
    width: 100%; /* Set the width to 100% */
    max-width: 60%; /* Adjusted max-width */
    text-align: center; /* Centered text */
}

.demos, .appStore, .arrows, .video, .learnMore {
    max-width: 100%; /* Adjusted max-width */
    height: auto; /* Ensure image maintains aspect ratio */
    margin-top: 20px; /* Adjusted margin-top */
}

.learnMore {
    max-width: 30%; /* Adjusted max-width */
}

/* Add this CSS code to your existing stylesheet */

.appStore, .arrows, .video, .learnMore {
    max-width: 100%; /* Adjusted max-width */
    height: auto; /* Ensure image maintains aspect ratio */
    margin-top: 20px; /* Adjusted margin-top */
    cursor: pointer; /* Add cursor pointer */
    transition: transform 0.2s ease; /* Add transition effect */
}

.appStore:hover, .arrows:hover, .video:hover, .learnMore:hover {
    transform: scale(1.1); /* Add hover effect */
}

