.draggable {
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}

.mb-3, .my-3 {
    margin-top: 61px;
    margin-bottom: -7rem!important;
}

.img-fluid draggable{
    margin-bottom: 100px;
    margin-left: 100px;
}
.h2, h2 {
    font-size: 5rem;
    margin-top: 226px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: ui-sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}